 <div id="background">
   <div class="mx-auto home-book pt-3 pb-3">
     <div class="book" [class.left-flip]="flip == 1" [class.right-flip]="flip == 2">
       <div class="book-cover front">
         <div class="front-left" (mouseover)="left()" (mouseout)="mouseOut()"></div>
         <div class="front-right" (mouseover)="right()" (mouseout)="mouseOut()"></div>
       </div>
       <div class="book-cover back"></div>
       <div class="book-cover left"></div>
       <div class="book-cover right"></div>
     </div>
   </div>
 </div>


