<div class="position-relative align-items-center justify-content-end d-flex">
  <video loop muted autoplay width="100%" class="d-inline-block" oncanplay="this.play()" onloadedmetadata="this.muted = true">
    <source src="assets/videos/Boat - 44549.mp4" type="video/mp4">
  </video>
  <div class="slogan text-end">
    <h1>Welcome to Furama</h1>
    <h2>Enjoy A Luxury Experience</h2>
    <p>Leave your worries behind</p>
    <button class="btn-outline-light btn me-2">Join us</button>
    <button class="btn-outline-light btn">Login</button>
  </div>
</div>
<div id="aboutUs" class="container mt-5">
  <div  class="row mb-5">
    <div class="fadeBlock col-lg-4 col-md-12 col-sm-12">
      <div class="row">
        <div class="col-lg-12">
          <h2 class="text-center">About Us</h2>
        </div>
        <div class="col-lg-12" style="text-align: justify">
          <p>Resonating with the quintessence of L'Alyana Senses World, the 5-star Furama Resort & Spa offers
            top-class resort care services, harmony with nature, spiritual liberation, purification. body for
            visitors to drop their souls according to each whispering wave, gently sink into the dream of mermaids
            and find themselves the original life.
          </p>
          <p>
            In addition, Furama Resort & Spa owns a unique collection of premium aerial resorts, luxurious pool villas,
            providing premium vacations with international standard services, touching the uniqueness of culture.
            through the most natural interactions.
          </p>
        </div>
      </div>
    </div>
    <div class="fadeBlock col-lg-8 col-md-12 col-sm-12">
      <img src="../../assets/images/LLN_PV_01_Villa-huong-bien_A-2.jpg" width="100%"/>
    </div>
  </div>
  <div  class="row mb-5 align-items-center d-flex justify-content-center">
    <div id="spa" class="fadeBlock col-lg-12 mt-5 mb-5 text-center" >
      <h2>Spa & Fitness</h2>
      <p>For those who would rather relax and pamper themselves, please stop by the Beauty Salon to make a reservation
        for a body or foot massage, body treatments, facials, manicures, pedicures, exfoliations, waxing or simply
        relax inside our sauna and steam baths.</p>
    </div>
    <div class="fadeBlock col-lg-4 col-md-4 col-sm-11 col-11 p-0"
         style="z-index: 0;border-radius: 15px">
      <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel"
           data-bs-interval="2500">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="assets/images/spa1.jpg" class="d-block w-100 carouselImage" alt="...">
          </div>
          <div class="carousel-item">
            <img src="assets/images/spa2.jpg" class="d-block w-100 carouselImage" alt="...">
          </div>
          <div class="carousel-item">
            <img src="assets/images/spa3.jpg" class="d-block w-100 carouselImage" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
    <div id="spaPackage" class="col-lg-8 col-md-8 col-sm-11 col-11 fadeBlock" >
      <div class="row fs-4 m-3">
        <div class="col-lg-2 col-md-1 col-sm-2 col-2 text-center">
          <i class="fa-solid fa-circle-plus"></i>
        </div>
        <div class="col-lg-10 col-md-11 col-sm-10 col-10">
          <span>Relaxation Package</span>
        </div>
      </div>
      <div class="row fs-4 m-3">
        <div class="col-lg-2 col-md-1 col-sm-2 col-2 text-center">
          <i class="fa-solid fa-circle-plus"></i>
        </div>
        <div class="col-lg-10 col-md-11 col-sm-10 col-10">
          <span>Amorous Couple's Delight Package</span>
        </div>
      </div>
      <div class="row fs-4 m-3">
        <div class="col-lg-2  col-md-1  col-sm-2 col-2 text-center">
          <i class="fa-solid fa-circle-plus"></i>
        </div>
        <div class="col-lg-10  col-md-11 col-sm-10 col-10">
          <span>Anti-stress Statesman Package</span>
        </div>
      </div>
      <div class="row fs-4  m-3">
        <div class="col-lg-2  col-md-1 col-sm-2 col-2 text-center">
          <i class="fa-solid fa-circle-plus"></i>
        </div>
        <div class="col-lg-10 col-md-11 col-sm-10 col-10">
          <span>Rejuvenation Package (for ladies only)</span>
        </div>
      </div>
      <div class="row fs-4  m-3">
        <div class="col-lg-2  col-md-1 col-sm-2 col-2 text-center">
          <i class="fa-solid fa-circle-plus"></i>
        </div>
        <div class="col-lg-10  col-md-11 col-sm-10 col-10">
          <span>Signature Furama Packages (3 days)</span>
        </div>
      </div>
    </div>
  </div>
  <div class="row mb-5">
    <div id="room" class="col-lg-12 text-center mt-5 mb-5 fadeBlock">
      <h2>Rooms & Suites</h2>
      <p>Whether you are looking for a short weekend break or a longer holiday, we offer a range of packages
        that will cater for all.
      </p>
    </div>
    <div class="fadeBlock col-lg-12">
      <div class="row text-center">
        <div class="col-lg-4">
          <div>
            <img src="assets/images/room1.jpg" width="100%"/>
          </div>
          <p class=" mt-2">Ocean Studio Suite</p>
        </div>
        <div class="col-lg-4">
          <div>
            <img src="../../assets/images/room2 (1).jpg" width="100%"/>
          </div>
          <p class=" mt-2">02 Bedroom Pool Villa</p>
        </div>
        <div class="col-lg-4">
          <div>
            <img src="../../assets/images/room3 (1).jpg" width="100%"/>
          </div>
          <p class=" mt-2">One Bedroom Presidential Suite</p>
        </div>
      </div>
    </div>
  </div>
</div>

