.toolbar ul {
  display:table-row;
}
.toolbar ul .toolbar-li
{
  display: table-cell;
  height: 80px;
  list-style-type: none;
  margin: 10px;
  vertical-align: middle;
  border: none;
}
.toolbar{
  display: inline-block;
}

.header-link{
  text-decoration: none;
  color: white;
  padding: 0 10px 0 10px;
  list-style-type: none;
}

.menu {
  display: block;
  margin: 0 auto;
  position: relative;
  width: 200px;
}

.menu > li > a {
  color: #fff;
  display: block;
  text-align: center;
  text-decoration: none;
}
.menu ul li{
  list-style-type: none;
  min-width: 160px;
}
.menu ul {
  background: #055c25;
  height: 0;
  right: 0;
  opacity: 0;
  position: absolute;
  transition: height .5s ease;
  top: 35px;
  padding: 0;
  min-width: 160px;
}

.dropdown-btn .menu li ul li{
  display: none;
}

.dropdown-btn:hover .menu li  ul li{
  display: block;
}

.dropdown-btn:hover .menu li .category-list {
  height: 350px;
  opacity: 1;
  transform: translateY(0);
  overflow: auto;
}
.dropdown-btn .menu li ul li{
  transition: background-color 0.7s;
}

.dropdown-btn .menu li ul li:hover{
  background-color: #014017;
}
.menu ul a {
  color: #ffffff;
  display: block;
  padding: 10px;
  text-decoration: none;
}

.dropdown-btn:hover .menu li .account-tool-content {
  height: 90px;
  opacity: 1;
  transform: translateY(0);
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #044e1d;
}
