<!-- Footer -->
<footer style="background: #055c25" class="text-center text-light text-lg-start ">
  <!-- Section: Social media -->
  <section class="d-flex justify-content-center  p-4 border-bottom">
    <!-- Left -->
    <!-- Left -->

    <!-- Right -->
    <div class="fs-4">
      <a href="" class="me-4 text-reset">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-twitter"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-google"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-instagram"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-linkedin"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-github"></i>
      </a>
    </div>
    <!-- Right -->
  </section>
  <!-- Section: Social media -->

  <!-- Section: Links  -->
  <section class="">
    <div class="container-fluid text-center text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <!-- Content -->
            <div class="d-flex justify-content-center mb-3">
              <img src="../../../assets/images/LOGO_WHITE.png" height="80" width="80"/>
            </div>
          <p class="text-center">
            Việc đọc rất quan trọng. Nếu bạn biết cách đọc, cả thế giới sẽ mở ra cho bạn.
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Thể Loại
          </h6>
          <p>
            <a href="#!" class="text-reset">Văn học Việt Nam</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Văn Học nước ngoài</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Lịch sử</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Khoa học</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Về Green Book
          </h6>
          <p>
            <a href="#!" class="text-reset">Giới thiệu Green Book</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Tuyển dụng</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Điều khoản sử dụng</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Điều kiện vận chuyển</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">Liên lạc</h6>
          <p><i class="fas fa-home me-3"></i> 646 - Tôn ĐỨc Thắng, Hòa Khánh Nam, Liên Chiểu, Đà Nẵng</p>
          <p>
            <i class="fas fa-envelope me-3"></i>
            tranhoanglong3898@gmail.com
          </p>
          <p><i class="fas fa-phone me-3"></i> +(84) 345 426 281</p>
          <p><i class="fas fa-print me-3"></i> + 01 234 567 89</p>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->

  <!-- Copyright -->
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.1);">
    © 2022 Copyright:
    <a class="text-reset fw-bold" (click)="openFaceBook()">Long Đẹp Trai</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
